:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
    --verde: #006600;
    --verdeClaro: #25D366;
    --grisOscuro: #4B4B4B;
    --verdeAna: #005346;
    --verdeAnaclaro: #008489;



} 

/* Globales */
html { 
    font-size: 62.5%;
    box-sizing: border-box; 
    scroll-snap-type: y mandatory; 
}
/*SCROLL snap*/

/*.servicios,
.navegacion-principal,
.formulario,
footer {
    scroll-snap-align:center;
    scroll-snap-stop:always; 
}*/


*, *:before, *:after {
    box-sizing: inherit;
  } 

body {
    font-size: 16px;
    font-family: "Krub", sans-serif;
    background-image: linear-gradient(to top, var(--grisOscuro) 0%, var(--grisClaro) 100% );
} 


.imagen-fondo {
    background-image: url(../img/hero.jpg); 
    background-repeat: no-repeat; 
    height:auto; 
    opacity: 0.95;
}

/* Footer */

footer {
    text-align: center;
    font-size: 1.5rem;
    color:#DFE9F3;
}

/* Tipografía */
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h1,h2,h3 {
    text-align: center;
}

/* Navegación Principal */
.nav-background {
    background-color: var(--verdeAna);
}
.nav-background-paginas {
    background-color: var(--verdeAna);
    margin-bottom: 2rem;
}

.navegacion-principal {
    display: flex; 
    flex-direction: column;
    align-items: center; 
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row; 
        justify-content:center; 
    }
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem; 
}

.navegacion-principal a:hover {
    background-color: var(--gris);
    color: var(--oscuro);
}

/* Hero */
.hero {
    background-image: url(../img_mi_historia/Simple\ Office\ Background\ Banner\ Decoration.jpg); 
    background-repeat: no-repeat;
    background-size: cover; 
    height: 400px;
    position: relative; 
    margin-bottom: 2rem;
}

.contenido-hero {
    position: absolute; 
    background-color: rgb(0 0 0 / 70%); 
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    text-align: center; 
    justify-content: center; 
}
.contenido-hero {
    color: var(--grisClaro);
}

/**.Servicios**/
@media (min-width: 768px) {
    .servicios {
        display: grid; 
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
}

@media (min-width: 350px) {
    .contenedor {
        max-width: 120rem; 
        margin: 0 auto 0 auto;
    }
    .sombra {
        -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
        -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
        box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
        background-color: var(--grisClaro);
        padding: 2rem;
        border-radius: 1rem; 
    }
    .presentacion {
        text-align: justify;
    }
}

@media (min-width: 768px) {
    .contenedor {
        max-width: 120rem; 
        margin: 0 auto 0 auto;
    }
    .sombra {
        -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
        -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
        box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
        background-color: var(--grisClaro);
        padding: 2rem;
        border-radius: 1rem; 
    }
    .presentacion {
        text-align: justify;
    }
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.servicio h3 {
    color: var(--#686868);
    font-weight: normal;
}
.servicio p {
    display: list-item;
    line-height: 2; 
    text-align:left;
    text-decoration-style:dotted;
}
.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: #686868;
    border-radius: 50%; 
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 

}

/*Contacto*/

.error {
    background-color: rgb(185, 0, 0);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
    border-radius: 1rem;
}

.correcto {
    background-color: rgba(3, 141, 15, 0.925);
    text-align: center;
    padding: 1rem;
    color: var(--blanco);
    text-transform: uppercase;
    border-radius: 1rem;
}

.fondo_contacto {
    background-image: url(../img_mi_historia/fondo-contacto.jpg);  
    height:auto;
}

.formulario {
    background-color: var(--gris); 
    width: min(60rem, 100%); 
    margin: 0 auto; 
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border:none; 
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase; 
    font-weight: 700; 
    margin-bottom: 2rem; 
    color: var(--oscuro);
}

@media (min-width: 768px) {
    .contenedor-campos {
        display:grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: auto, auto, 20rem;
        column-gap: 1rem; 
    }    
    .campo:nth-child(3),
    .campo:nth-child(4) {    
        grid-column: 1 / 3; 
    }
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    margin-bottom: .5rem;
    display: block; 
}

.campo input {
    width: 100%; 
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.mensaje input {
    width: 100%; 
    border: none;
    padding: 2rem;
    border-radius: .5rem;
}

.btn-wsp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: var(--verdeClaro);
    border-radius: 50px;
    text-align:center;
    font-size: 0.5px;
    box-shadow: 0px 1px 15px var(--oscuro);
    z-index: 100;
}
.btn-wsp:hover {
    text-decoration: none;
}

/*Para casillero mensaje*/
.completar ::placeholder{ 
    padding: 1rem;
    font-family: "Krub", sans-serif;
}
.boton {
    background-color: var(--verdeAna);
    color: var(--blanco);
    margin-top: 3rem;
    text-transform: uppercase;
    display: flex;
    flex-direction:column;
    justify-content:flex-end;
    width:none;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: .5rem;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

.campo textarea {
    height: 20rem;
    width: 100%;
}

/* Mi historia */

.linea-separador {
    border-bottom: 1px solid var(--oscuro);
}

/* Mi Historia */

.linea-separador {
    border-bottom: 1px solid var(--oscuro);
}

.miHistoria {
    display: grid;
    grid-template-rows: repeat(2, auto); /* Hace 3 columnas, 2fr o auto: tamaño de imagen*/
    /*column-gap: 10rem; le da una separación al texto de la imagen*/
}

@media (min-width: 768px) {
    .miHistoria {
        grid-template-columns: repeat(2, auto);
        column-gap: 2rem;
    }
}
.miHistoria_imagen {
    grid-row: 1 / 2;
    width: 100%;
}

@media (min-width: 768px) {
    .miHistoria_imagen {
        grid-column: 2 / 3;
    }
}

/* Slider */

.carrusel {
    background-repeat: no-repeat;
}